<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" routerLink="/emp-list" routerDirection="back"></ion-icon>
    </ion-buttons>
    <ion-title>Supplier Details</ion-title>
  </ion-toolbar>
</ion-header>

<style>
  ion-thumbnail {
    --size: 100px;
    --border-radius: 100px;
  }

  h1.detailsField {
    margin: 10px;
  }

  ion-row.detailsField {
    background-color: #3880ff;
    color: #fff;
    /* text-align: center; */
  }
</style>

<ion-content>
  <br>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4">
        <ion-thumbnail>
          <img src="{{emp?.image!}}" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="8">
        <br>

        <h1><b>{{emp.name}}</b></h1>

      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <br>
  <ion-item lines="none">
    <ion-label color="primary" position="stacked">
      <h2>
        Email
      </h2>
    </ion-label>
    <h1 class="detailsField">
      {{emp.email}}
    </h1>
  </ion-item>
  <br>
  <ion-item lines="none">
    <ion-label color="primary" position="stacked">
      <h2>
        Phone
      </h2>
    </ion-label>
    <h1 class="detailsField">
      {{emp.phone}}
    </h1>
  </ion-item>

  <br>
  <ion-list *ngIf="this.d.getEmpShifts(emp.id).length>0">
    <ion-list-header>
      Shifts
    </ion-list-header>
    <br>

    <ion-grid fixed>
      <ion-row class="detailsField">
        <ion-col size="">
          <div class="ion-text-center">

            <h3>Day</h3>

          </div>
        </ion-col>
        <ion-col size="6">
          <div class="ion-text-center">

            <h3>Starting Time</h3>

          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let s of this.d.getEmpShifts(emp.id)">
        <ion-col size="6">
          <div class="ion-text-center">
            <h3>{{s.day| date:"fullDate"}}</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="ion-text-center">
            <h3>{{s.startTime| date:"hh:mm a"}}</h3>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button routerLink="/emp-list" routerDirection="back" (click)="this.removeEmp(emp?.id)" color="danger"
    expand="block" fill="outline" shape="round">
    <ion-icon name="trash"></ion-icon>
    <ion-label> Remove</ion-label>
  </ion-button>
</ion-footer>
