<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Assignment 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<style>
  .fixed-box {
    width: 100%;
    background: #fff;
    height: 160px;
    z-index: 10;
  }

  .drop-area {
    border: 2px dashed #2746f1;
    margin: 2px;
    width: 48%;
    height: 150px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    user-select: none;
    background: #fff;
  }

  .item-group {
    margin-top: 160px;
  }
</style>
<ion-content [fullscreen]="true">
  <div slot="fixed" class="fixed-box">
    <div class="drop-area" #dropzoneA>
      Zone A {{ teamA | json }}
    </div>
    <div class="drop-area" #dropzoneB>
      Zone B {{ teamB | json }}
    </div>
  </div>

  <div class="item-group">
    <ion-item *ngFor="let item of myArray">
      {{item}}
    </ion-item>
  </div>

</ion-content>
