<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label>
      <h3>Today</h3>
      <ion-label color="primary">
        <h1>{{today| date:"fullDate"}}</h1>
      </ion-label>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-datetime display-format="DD/MM/YYYY" minuteValues="0,15,30,45" [(ngModel)]="this.checkedDate"
      (ionChange)="filterDate(this.checkedDate)"></ion-datetime>
  </ion-item>
  <ion-button (click)="stopFilter()" expand="block" fill="clear" shape="round">
    All Shifts
  </ion-button>

  <ion-list *ngIf="!this.isFiltered">
    <ion-card *ngFor="let s of shifts">
      <ion-card-header>
        <ion-card-subtitle>{{d.getEmp(s.empId)!.name}}</ion-card-subtitle>
        <ion-card-title>
          <h1>{{s.day | date: 'fullDate'}}</h1>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="none">
          <ion-icon slot="start" name="time"></ion-icon>
          {{s.startTime| date: 'hh:mm a'}} - {{s.endTime| date: 'hh:mm a'}}
          <ion-button slot="end" routerLink="/trade/{{s.id}}" fill="clear" *ngIf="d.me.id != s.empId">
            <ion-icon size="large" name="shuffle"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list *ngIf="this.isFiltered">
    <ion-card *ngFor="let s of filteredList">
      <ion-card-header>
        <ion-card-subtitle>{{d.getEmp(s.empId)!.name}}</ion-card-subtitle>
        <h1>{{s.day | date: 'fullDate'}}</h1>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="none">
          <ion-icon slot="start" name="time"></ion-icon>
          {{s.startTime| date: 'hh:mm a'}} - {{s.endTime| date: 'hh:mm a'}}
          <ion-button slot="end" routerLink="/trade/{{s.id}}" fill="clear" *ngIf="d.me.id != s.empId">
            <ion-icon size="large" name="shuffle"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer *ngIf="this.d.isOwner()">
  <ion-toolbar>
    <ion-button routerLink="/add-shift" expand="block" shape="round">
      Add Shift
    </ion-button>
  </ion-toolbar>
</ion-footer>
