<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" routerLink="/orders-tabs/list" routerDirection="back"></ion-icon>
    </ion-buttons>
    <h4>Order Details</h4>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>

  <ion-item>
    <ion-label>Supplier Name {{oc.sup}}</ion-label>
    <ion-select [(ngModel)]="oc.sup" placeholder="Select Supplier">
      <ion-select-option *ngFor="let s of d.sups()" value="{{s.id}}">{{s.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Ordered Date</ion-label>
    <ion-datetime-button datetime="datetime1"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime [(ngModel)]="oc.orderedDate" min="{{this.d.today.toISOString()}}" id="datetime1"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <ion-item>
    <ion-label>Expected Date</ion-label>
    <ion-datetime-button [disabled]="oc.orderedDate==null" datetime="datetime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]=" true">
      <ng-template>
        <ion-datetime [(ngModel)]="oc.expectedDate" min="{{this.oc.orderedDate||this.d.today.toISOString()}}"
          id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <ion-item lines="none" *ngIf="oc.orderedDate>=oc.expectedDate">
    <ion-label color="danger">Order date is the same as Expected date</ion-label>
  </ion-item>

  <div *ngIf="oc.sup!=null">
    <!-- <div *ngIf="oc.sup==null"> -->
    <ion-list>
      <ion-list-header>
        <ion-card-title>Supplier Products</ion-card-title>
      </ion-list-header>

      <ion-list *ngIf="this.d.getSupProducts(oc.sup).length>0">
        <!-- <ion-list> -->
        <ion-item lines="full">
          <ion-icon name="cart" slot="start"></ion-icon> {{d.getCurrOrderCartLength()}} Items
          <ion-label slot="end">Total: {{d.calcCurrOrderCartTotal()|currency}}</ion-label>
        </ion-item>
        <ion-card *ngFor="let p of this.d.getSupProducts('sup1')">
          <ion-grid fixed>
            <ion-row>
              <ion-col class="detailsField" size="4">
                <h4>Name:</h4>
              </ion-col>
              <ion-col>
                <h4>{{p.name}}</h4>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="detailsField" size="4">
                <h4>Price:</h4>
              </ion-col>
              <ion-col>
                <h4>{{p.price*p.ipc|currency}}</h4>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="detailsField" size="6">
                <h4>Current Quantity:</h4>
              </ion-col>
              <ion-col>
                <h4>{{p.quantity + d.currOrderCart[p.id!]!||p.quantity}} Item</h4>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="5">
                <ion-item>
                  <ion-button (click)="d.addToOrderCart(p.id,p.ipc)" fill="clear" shape="round">
                    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                  </ion-button>
                  <ion-label>{{d.currOrderCart[p.id!]/p.ipc||0}}</ion-label>
                  <ion-button (click)="d.removeFromOrderCart(p.id,p.ipc)" fill="clear" shape="round">
                    <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-col>

              <ion-col size="4">
                <h4>IPC: {{p.ipc}}</h4>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card>
      </ion-list>
      <ion-list *ngIf="this.d.getSupProducts(oc.sup).length==0">
        <ion-card-content>
          The supplier does not supply with any products
        </ion-card-content>
      </ion-list>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      [disabled]="(oc.sup==null)||( oc.orderedDate==null)|| (oc.expectedDate == null)||(oc.orderedDate>=oc.expectedDate)||(d.getCurrOrderCartLength()==0)"
      (click)="addOrder()" routerLink="/orders-tabs/list" routerDirection="back" expand="block">
      <!-- (click)="addOrder()" expand="block"> -->
      Add Order
    </ion-button>
  </ion-toolbar>
</ion-footer>
