<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" routerLink="/cashier-tabs/home" routerDirection="back"></ion-icon>
    </ion-buttons>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img [src]="p.image"></ion-img>

  <ion-list>
    <ion-item lines="full">
      <ion-label>
        <h3>Name</h3>
        <h1>{{p.name}}</h1>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
        <h3>Quantity</h3>
        <h1>{{p.quantity}}</h1>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
        <h3>Price</h3>
        <h1>{{p.price}}</h1>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
        <h3>SKUT(Stoke Keeping Unit Threshold)</h3>
        <h1>{{p.skut}}</h1>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
        <h3>Description</h3>
        <h1>{{p.description}}</h1>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
        <h3>Supplier</h3>
        <h1>{{p.supId}}</h1>
      </ion-label>
    </ion-item>
  </ion-list>
  <br>
  <ion-list *ngIf="cashier.hvOrders">
    <ion-list-header>
      Product History
    </ion-list-header>

    <ion-item lines="none">
      <ion-label slot="start">
        <h1>Added Date</h1>
      </ion-label>
      <ion-label slot="end">
        <h1>Quantity</h1>
      </ion-label>
    </ion-item>

    <ion-item lines="full" *ngFor="let o of cashier.orderList">
      <ion-label slot="start">{{o.receivedDate | date: 'mediumDate'}}</ion-label>
      <ion-label slot="end">{{o.quantity}} Unit</ion-label>
    </ion-item>
  </ion-list>
  <br>
  <br>
  <br>
  <br>
</ion-content>
<ion-footer>
  <ion-item routerLink="/cart" routerDirection="forward" lines="full" color="primary" class="my"
    *ngIf="cashier.getCartLength()>0">
    <ion-icon name="cart" slot="start"></ion-icon> {{cashier.getCartLength()}} Items
    <ion-label slot="end">Total: {{cashier.calcCartTotal()}}</ion-label>
  </ion-item>
</ion-footer>
