<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Assignment 2 {{x}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Students Information -->
  <ion-item>
    <ion-label>Ahmed Gmal, 20180763, Section:02</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Ahmed Mohamed, 20162878, Section:01</ion-label>
  </ion-item>

  <!-- Getting Name -->
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="d.name" type="text" placeholder="ex. Ahmed"></ion-input>
  </ion-item>

  <!-- Getting Age -->
  <ion-item>
    <ion-label>Age</ion-label>
    <ion-input [(ngModel)]="d.age" type="number" placeholder="ex. 21"></ion-input>
  </ion-item>

  <!-- Getting Gander -->
  <ion-item>
    <ion-label>Gander</ion-label>
    <ion-select [(ngModel)]="d.gender" placeholder="Select Gander">
      <ion-select-option value="Male">Male</ion-select-option>
      <ion-select-option value="Female">Female</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Start Contact Information Section  -->
  <ion-list>
    <ion-list-header>
      <ion-label>Contact Information</ion-label>
    </ion-list-header>

    <!-- Getting Phone -->
    <ion-item>
      <ion-label>Phone</ion-label>
      <ion-input [(ngModel)]="d.phone" type="number" placeholder="ex. 3333 3333"></ion-input>
    </ion-item>

    <!-- Getting Email -->
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="d.email" type="email" placeholder="ex. example@em.em"></ion-input>
    </ion-item>
  </ion-list>


  <!-- Getting Membership Type, Radio -->
  <ion-list>
    <ion-radio-group [(ngModel)]="d.membership_type">
      <ion-list-header>
        <ion-label>Membership Type </ion-label>
        <!-- <ion-label>Membership Type {{membership_type}}</ion-label> -->
      </ion-list-header>

      <ion-item *ngFor="let item of d.membership_types">
        <ion-label>{{item}}</ion-label>
        <ion-radio slot="start" value="{{item}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>


  <!-- Getting Field of Interest, Checkbox -->
  <ion-list>
    <ion-list-header>
      <ion-label>Field of Interest</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let item of d.fields_of_interests">
      <ion-label>{{item.val}}</ion-label>
      <!-- <ion-label>{{item.val}} {{item.checked}}</ion-label> -->
      <ion-checkbox slot="start" [(ngModel)]="item.checked"></ion-checkbox>
    </ion-item>

  </ion-list>

  <ion-button (click)="showAlert()" expand="block" shape="round">
    Register
  </ion-button>

  <ion-button routerLink="/members" expand="block" fill="clear" shape="round">
    View members
  </ion-button>

  <!-- list of members -->
  <!--
  <ion-list>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-label>Membership Type</ion-label>
    </ion-item>
    <ion-item *ngFor="let item of d.list">
      <ion-label>{{item.name}}</ion-label>
      <ion-label>{{item.membership_type}}</ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>
