<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="calculator"></ion-icon>
        <ion-label>POS</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Shifts</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="products">
        <ion-icon name="reader"></ion-icon>
        <ion-label>Products</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
</ion-content>
