<ion-header>
  <ion-toolbar>
    <ion-title>Members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Students Information -->
  <ion-item>
    <ion-label>Ahmed Gmal, 20180763, Section:02</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Ahmed Mohamed, 20162878, Section:01</ion-label>
  </ion-item>

  <ion-list>
    <ion-radio-group [(ngModel)]="selectedType">

      <ion-list-header>
        <ion-label>Membership Type </ion-label>
      </ion-list-header>

      <ion-item *ngFor="let member of d.membership_types">
        <ion-label>{{member}}</ion-label>
        <ion-radio slot="start" value="{{member}}"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>All members</ion-label>
        <ion-radio slot="start" value="all"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>


  <ion-button (click)="filterList(selectedType)" expand="block" fill="clear" shape="round">
    Search
  </ion-button>


  <!-- filtered list -->
  <ion-list>
    <ion-list-header>
      <!-- <ion-label>Name {{selectedType}}</ion-label> -->
      <ion-label>Name </ion-label>
      <ion-label>Membership Type</ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let member of filteredList;let i=index">
      <!-- Member data -->
      <ion-item (click)="showAlert(member)" [routerLink]="['/show-member/'+i]">
        <ion-label>{{member.name}}</ion-label>
        <ion-label>{{member.membership_type}}</ion-label>
      </ion-item>

      <!-- Delete option -->
      <ion-item-options>
        <ion-item-option color="danger" (click)="DeleteMember(member)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-member']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
