<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" routerLink="/sup-list" routerDirection="back"></ion-icon>
    </ion-buttons>
    <ion-title>Add Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addSup" (ngSubmit)="addProduct(addSup.value)">

    <ion-item id="custom-item" counter="true" [counterFormatter]="customCounterFormatter">
      <ion-label position="floating">Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required maxlength="30" formControlName="name" type="text" placeholder="ex.Ahmed"></ion-input>
    </ion-item>

    <ion-item lines="none" *ngIf="addSup.controls['name'].hasError('required') && addSup.controls['name'].touched">
      <ion-text color="danger">Sorry, field name is required!</ion-text>
    </ion-item>
    <ion-item lines="none" *ngIf="addSup.controls['name'].hasError('pattern') && addSup.controls['name'].touched">
      <ion-text color="danger">Sorry, only small and capital letters are allowed!</ion-text>
    </ion-item>
    <ion-item lines="none" *ngIf="addSup.controls['name'].hasError('minlength') && addSup.controls['name'].touched">
      <ion-text color="danger">Sorry, minimum name length is 2!</ion-text>
    </ion-item>
    <ion-item lines="none" *ngIf="addSup.controls['name'].hasError('maxlength') && addSup.controls['name'].touched">
      <ion-text color="danger">Sorry, maximum name length is 30!</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="email" type="email" placeholder="ex.email@exp.com"></ion-input>
    </ion-item>

    <ion-item lines="none" *ngIf="addSup.controls['email'].hasError('required') && addSup.controls['email'].touched">
      <ion-text color="danger">Sorry, field email is required!</ion-text>
    </ion-item>
    <ion-item lines="none" *ngIf="addSup.controls['email'].hasError('pattern') && addSup.controls['email'].touched">
      <ion-text color="danger">Sorry, ensure the email formate!</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="pass" type="password"></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="addSup.controls['pass'].hasError('required') && addSup.controls['pass'].touched">
      <ion-text color="danger">Sorry, field password is required!</ion-text>
    </ion-item>
    <ion-item lines="none" *ngIf="addSup.controls['pass'].hasError('minlength') && addSup.controls['pass'].touched">
      <ion-text color="danger">Sorry, minimum password length is 8!</ion-text>
    </ion-item>

    <ion-item counter="true" [counterFormatter]="phoneCounterFormatter">
      <ion-label position="floating">Phone<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required maxlength="8" formControlName="phone" type="number" placeholder="12345678"></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="addSup.controls['phone'].hasError('required') && addSup.controls['phone'].touched">
      <ion-text color="danger">Sorry, field phone is required!</ion-text>
    </ion-item>
    <ion-item lines="none" *ngIf="addSup.controls['phone'].hasError('minlength') && addSup.controls['phone'].touched">
      <ion-text color="danger">Sorry, minimum phone length is 8!</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Image
        <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="img" type="text"></ion-input>
    </ion-item>

    <ion-button class="button-down" routerLink="/sup-list" routerDirection="back" block color="primary" type="submit"
      expand="block" [disabled]="addSup.invalid">
      Submit
    </ion-button>
  </form>
</ion-content>
