<ion-header>
  <ion-toolbar>
    <ion-title>Members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-radio-group [(ngModel)]="selectedType">

      <ion-list-header>
        <ion-label>Membership Type </ion-label>
      </ion-list-header>

      <ion-item *ngFor="let member of d.membership_types">
        <ion-label>{{member}}</ion-label>
        <ion-radio slot="start" value="{{member}}"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>All members</ion-label>
        <ion-radio slot="start" value="all"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>


  <ion-button (click)="filterList(selectedType)" expand="block" fill="clear" shape="round">
    Search
  </ion-button>


  <!-- filtered list -->
  <ion-list>
    <ion-item>
      <ion-label>Name of {{selectedType}}</ion-label>
      <ion-label>Membership Type</ion-label>
    </ion-item>

    <ion-item-sliding *ngFor="let member of filteredList">
      <!-- Member data -->
      <ion-item (click)="showAlert(member)">
        <ion-label>{{member.name}}</ion-label>
        <ion-label>{{member.membership_type}}</ion-label>
      </ion-item>

      <!-- Delete option -->
      <ion-item-options>
        <ion-item-option color="danger" (click)="DeleteMember(member)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
