<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" routerLink="/orders-tabs/list" routerDirection="back"></ion-icon>
    </ion-buttons>
    <ion-title>Order Details</ion-title>
    <ion-button (click)="d.onFav(o.id)" fill="clear" slot="end" size="large">
      <div *ngIf="d.isFav(o.id)">
        <ion-icon slot="icon-only" color="warning" name="star"></ion-icon>
      </div>
      <div *ngIf="!d.isFav(o.id)">
        <ion-icon slot="icon-only" color="warning" name="star-outline"></ion-icon>
      </div>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <ion-item lines="none">
    <ion-label color="primary" position="stacked">
      <h2>
        Supplier Name
      </h2>
    </ion-label>
    <h2 class="detailsField">
      {{d.getUser(o.sup)?.name}}
    </h2>
  </ion-item>
  <br>
  <ion-item lines="none">
    <ion-label color="primary" position="stacked">
      <h2>
        Ordered Date
      </h2>
    </ion-label>
    <h2 class="detailsField">
      {{o.orderedDate|date:"fullDate"}}
    </h2>
  </ion-item>
  <br>
  <br>
  <ion-item lines="none">
    <ion-label color="primary" position="stacked">
      <h2>
        Expected Date
      </h2>
    </ion-label>
    <h2 class="detailsField">
      {{o.expectedDate|date:"fullDate"}}
    </h2>
  </ion-item>
  <br>

  <ion-card>
    <ion-list *ngIf="cartIds.length>0">
      <ion-card-header>
        <ion-card-title>Order Products</ion-card-title>
      </ion-card-header>
      <ion-grid fixed>
        <ion-row class="detailsField">
          <ion-col size="3">
            <div class="ion-text-center">

              <h4>Qty.</h4>

            </div>
          </ion-col>
          <ion-col size="6">
            <div class="ion-text-center">

              <h4>Name</h4>

            </div>
          </ion-col>
          <ion-col size="3">
            <div class="ion-text-center">
              <h4>Price</h4>
            </div>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let pId of cartIds">
          <ion-col size="3">
            <div class="ion-text-center">
              <h4>{{o.cart[pId]}}</h4>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="ion-text-center">
              <h4>{{d.getProduct(pId)?.name}}</h4>
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="ion-text-center">
              <h4>{{d.getProduct(pId)?.price|currency}}</h4>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-card>

</ion-content>
