<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" routerLink="/cashier-tabs/products" routerDirection="back"></ion-icon>
    </ion-buttons>
    <ion-title>Add Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addProd" (ngSubmit)="addProduct(addProd.value)">

    <ion-item id="custom-item" counter="true" [counterFormatter]="customCounterFormatter">
      <ion-label position="floating">Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required maxlength="30" formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="addProd.controls['name'].hasError('minlength') && addProd.controls['name'].touched">
      <ion-text color="danger">
        <p>Sorry, minimum name length is 2!</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantity <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="qty" (ionChange)="allP($event)" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        SKUT (Stock Keeping Unit Threshold)
        <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="skut" (ionChange)="allP($event)" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Supplier
        <ion-text color="danger">*</ion-text></ion-label>
      <ion-select formControlName="sup" placeholder="Select Supplier">
        <ion-select-option *ngFor="let s of this.d.sups()" value="{{s.id}}">{{s.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        IPC (Item Per Cartoon)
        <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="ipc" (ionChange)="allP($event)" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Image
        <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="img" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Price
        <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="price" (ionChange)="allP($event)" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Description
        <ion-text color="danger">*</ion-text></ion-label>
      <ion-textarea formControlName="des"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!isAllP">
      <ion-label color="danger">Not ALl Values Positive</ion-label>
    </ion-item>

    <ion-button class="button-down" routerLink="/cashier-tabs/products" routerDirection="back" block color="primary"
      type="submit" expand="block" [disabled]="addProd.invalid||!isAllP">
      Confirm
    </ion-button>
  </form>
</ion-content>
