<ion-header>
  <ion-toolbar>
    <ion-button [routerLink]="['/home']" slot="start" fill="clear" shape="round">
      Back
    </ion-button>
    <ion-title>item-view</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="primary">
      <ion-label>Select Product</ion-label>
      <ion-select placeholder="Select Product" interface="action-sheet" *ngFor="let item of list"
        (ionChange)="onSelect($event)">
        <ion-select-option value={{item.id}}>
          {{item.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="currentItem">
    <ion-item>
      <ion-label floating>Product Id: </ion-label>
      <ion-label>{{currentItem.id}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label floating>Product Name: </ion-label>
      <ion-label>{{currentItem.name}}</ion-label>
    </ion-item>
    <ion-item>
      <!-- <ion-label floating>Product Specs: </ion-label> -->
      <ion-label floating>Product Score: </ion-label>
      <ion-label>{{currentItem.score}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label floating>Product Icon: </ion-label>
      <ion-label>
        <ion-icon name="{{currentItem.icon}}"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button [routerLink]="['/home']" expand="block" fill="clear" shape="round" color="danger">
    Close
    <ion-icon slot="start" name="close"></ion-icon>
  </ion-button>

</ion-content>
