<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>
<style>
  ion-thumbnail {
    --size: 140px;
    --border-radius: 14px;
    margin: 10px;
  }

  .my {
    --border-radius: 14px;
    margin: 10px;
  }
</style>
<ion-content>
  <ion-searchbar (input)="cashier.filterList($event)" animated="true" placeholder="Animated"></ion-searchbar>
  <ion-list *ngIf="!cashier.isFiltered">
    <ion-item *ngFor="let prod of cashier.products" [routerLink]="['/item-details',prod.id]">
      <ion-thumbnail>
        <img alt="Silhouette of mountains" src="{{prod.image}}" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{prod.name}}</h2>
        <p>{{prod.quantity}}</p>
        <h3>${{prod.price}}</h3>
      </ion-label>
      <ion-item lines="none">
        <ion-button (click)="cashier.addToCart(prod.id)" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-label>{{cashier.cartItem[prod.id!]||0}}</ion-label>
        <ion-button (click)="cashier.removeToCart(prod.id!)" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-item>
  </ion-list>


  <ion-list *ngIf="cashier.isFiltered">
    <ion-item *ngFor="let prod of cashier.filteredList" [routerLink]="['/item-details',prod.id]">
      <ion-thumbnail>
        <img alt="Silhouette of mountains" src="{{prod.image}}" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{prod.name}}</h2>
        <p>{{prod.quantity}}</p>
        <h3>${{prod.price}}</h3>
      </ion-label>
      <ion-item lines="none">
        <ion-button (click)="cashier.addToCart(prod.id)" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-label>{{cashier.cartItem[prod.id!]||0}}</ion-label>
        <ion-button (click)="cashier.removeToCart(prod.id!)" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-item>
  </ion-list>


  <ion-fab *ngIf="cashier.getCartLength()>0" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      {{cashier.getCartLength()}}
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-item color="primary" class="my" *ngIf="cashier.getCartLength()>0">
    <ion-label>Total: {{cashier.calcCartTotal()}}</ion-label>
  </ion-item>
</ion-footer>
