<ion-header>
  <ion-toolbar>
    <ion-title>Show Member{{memberIndex}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Getting Name -->
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-label>{{d.shown_student.name}}</ion-label>
  </ion-item>

  <!-- Getting Age -->
  <ion-item>
    <ion-label>Age</ion-label>
    <ion-label>{{d.shown_student.age}}</ion-label>
  </ion-item>

  <!-- Getting Gander -->
  <ion-item>
    <ion-label>Gander</ion-label>
    <ion-label>{{d.shown_student.gender}}</ion-label>
  </ion-item>

  <!-- Start Contact Information Section  -->
  <ion-list>
    <!-- Getting Phone -->
    <ion-item>
      <ion-label>Phone</ion-label>
      <ion-label>{{d.shown_student.phone}}</ion-label>
    </ion-item>

    <!-- Getting Email -->
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-label>{{d.shown_student.email}}</ion-label>
    </ion-item>
  </ion-list>


  <!-- Getting Membership -->
  <ion-list>
    <ion-item>
      <ion-label>Membership Type </ion-label>
      <ion-label>{{d.shown_student.membership_type}}</ion-label>
    </ion-item>
  </ion-list>

  <!-- Getting Field of Interest -->
  <ion-list>
    <ion-list-header>
      <ion-label>Field of Interest</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let item of d.shown_student.my_fields">
      <ion-label>{{item}}</ion-label>
    </ion-item>
  </ion-list>

  <!-- Getting Available Workshops -->
  <ion-list>
    <ion-list-header>
      <ion-label>Available Workshops</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Available Workshops</ion-label>
      <ion-select [(ngModel)]="workshopIndex" placeholder="Select Workshops">
        <ion-select-option *ngFor="let workshop of d.workshops; let i=index" value="{{i}}">
          {{workshop.title}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <br>
  <br>
  <ion-button (click)="addMemberToWorkshop()" expand="block" shape="round">
    Register in workshop
  </ion-button>
  <ion-button [routerLink]="['/tabs/tab1']" expand="block" shape="round">
    Back
  </ion-button>

</ion-content>
