<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (input)="this.d.searchProducts($event)" placeholder="Search" animated="true"></ion-searchbar>

  <ion-list *ngIf="!this.d.isSearchedProducts">
    <ion-card *ngFor="let p of this.d.products">
      <ion-item lines="none">
        <ion-label>
          <h1>
            {{p.name}}
          </h1>
          <h2>
            {{this.d.getUser(p.supId)?.name}}
          </h2>
        </ion-label>
        <ion-item lines="none" color="primary" style="--border-radius: 15px;">
          <ion-label>
            <h1>
              {{p.quantity}}
            </h1>
          </ion-label>
        </ion-item>
      </ion-item>
    </ion-card>
  </ion-list>


  <ion-list *ngIf="this.d.isSearchedProducts">
    <ion-card *ngFor="let p of this.d.searchedProducts">
      <ion-item lines="none">
        <ion-label>
          <h1>
            {{p.name}}
          </h1>
          <h2>
            {{this.d.getUser(p.supId)?.name}}
          </h2>
        </ion-label>
        <ion-item lines="none" color="primary" style="--border-radius: 15px;">
          <ion-label>
            <h1>
              {{p.quantity}}
            </h1>
          </ion-label>
        </ion-item>
      </ion-item>
    </ion-card>
  </ion-list>

</ion-content>

<ion-footer *ngIf="this.d.isOwner()">
  <ion-button routerLink="/add-product" class="ion-margin" expand="block">
    Add Product
  </ion-button>
</ion-footer>
